# Ignore .NET build output
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.config
app.publish/
PublishScripts/

# Ignore JetBrains Rider specific files
.idea/

# Ignore Visual Studio Code specific files
.vscode/

# Ignore Microsoft Visual Studio specific files
*.pidb
*.svclog
*.scc
*.build
*.dotCover
*.ncrunch*
*.resharper
*.userprefs
/packages/

# Ignore all log files
*.log 

# Ignore other
sql/
*.dll
*.pdb
*.cache
TestResults/

# Ignore NuGet Packages
*.nupkg 
# NuGet Symbol Packages
*.snupkg 
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/* 
# Exceptions for NuGet v3's project.json packing
!**/packages/build/ 
!**/packages/*.props
!**/packages/*.targets